/*
 * General styles
 *********************************/

.jeherve-post-embeds {
	border: 1px solid #C3C3C3;
	clear: both;
	margin: 1em 0;
	padding: 2em 1em;
}

.jeherve-post-embeds .post-embed-article {
	border-bottom: 1px solid #C3C3C3;
}

.jeherve-post-embeds .post-embed-article h4.post-embed-post-title {
	margin: 1em 0;
}

.jeherve-post-embeds .jeherve-post-embeds-credits {
	color: #C3C3C3;
	float: right;
	font-size: 0.8em;
	margin: 0.5em 0;
}

/*
 * Grid
 * Use the "embed-grid" wrapper_class shortcode parameter.
 *
 * Meant to be used to display images only.
 * include_excerpt="false" include_content="false" include_images="true" include_title="false"
 **********************************/

 .embed-grid {
 	border: none;
 	clear: both;
 }

 .embed-grid .post-embed-article {
 	float: left;
 	box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 	border-bottom: none;
 	opacity: 0.6;
 }

 .embed-grid .post-embed-article:hover {
 	opacity: 1;
 }

 .embed-grid :last-child {
 	clear: both;
 }
